{% extends 'layout.html' %}
{% block content %}
	{% if user.is_authenticated %}

	<main class="main">
		<div class="container">
			{% if reservas_usuario %}
				<strong>Mis reservas</strong>
				<ul>
					{% for reserva in reservas_usuario %}
						<li>
							<strong>Tipo de examen: </strong>{{reserva.tipo_de_examen}}<br>
							<strong>Fecha de reserva: </strong> {{ reserva.fecha_reserva }}<br>
							<strong>Bloque de horas: </strong> {{ reserva.bloque_horas }}<br>
							<strong>Posible diagnóstico: </strong> {{ reserva.posible_diagnostico|default:"No especificado" }}<br>
							<strong>Médico que deriva: </strong> {{ reserva.medico_deriva }} <br>
							<button><a href="{% url 'editar_reserva' reserva.tipo_de_examen reserva.id %}">Editar</a></button>
							<button><a href="{% url 'eliminar_reserva' reserva.tipo_de_examen reserva.id %}">eliminar</a></button>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No tienes ninguna reserva.</p>
			{% endif %}

			<button><a href="{% url 'reservas'%}">Reservar</a></button>
		</div>
	</main>
	{% else %}
	
	<main class="main">
		<div class="container">
			<!-- <button><a href="{% url 'reservas'%}">Reservar</a></button> -->
		</div>
	</main>
	{% endif %}

{% endblock %}